.voteWrapper {
    width: 40%;
    margin: 0 auto;
    margin-top: 70px;
}

.voteOrder{
    float: right;
    margin-right: 2px;
}

.voteContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.votePage{
    order: 2;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
    text-align: center;
}

.prevBtn{
    order: 1;
    border: none;
    background-color: transparent;
    flex-shrink: 0;
}

.prevArrow{
    display: inline-block;
    color: black;
    margin-bottom: 3px;
    order: -1;  
    flex-shrink: 0;
}

.prevBtn:hover ~ .prevArrow{
    color: blue;
    animation-name: prevArrowSlidein;
    animation-duration: .9s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

.nextBtn{
    order: 3;
    border: none;
    background-color: transparent;
    flex-shrink: 0;
}

.nextArrow{
    order:4;
    display: inline-block;
    color: black;
    margin-bottom: 3px;
    flex-shrink: 0;
}

.nextBtn:hover ~ .nextArrow{
    color: red;
    animation-name: nextArrowSlidein;
    animation-duration: .9s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes nextArrowSlidein {
    from{ transform: translate(0);}
    to {transform: translate(10px);}
}

@keyframes prevArrowSlidein {
    from{ transform: translate(-10px);}
    to {transform: translate(0);}
}

