html {
  height: 100%;
}

body {
  background-color: wheat;
  height: 100%;
  /* border: solid 3px brown; */
  margin: 0;
}

.grid_container {
  height: 100%;
  display: grid;
  align-items: stretch;
  grid-template-rows: auto 1fr auto;
}

header {
  border: solid 3px purple;
}

ul {
  /* flex setting */

  /* height: 50px; */
}

.selectmode {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  padding: 0;
  text-align: center;
}

.selectmode li {
  list-style: none;
  display: inline;
  margin-inline: 20px;
  text-decoration: none;
}

.selectmode :nth-child(1) {
  /* margin-left: 50px; */
}

a {
  text-decoration: none;
  color: black;
}

#about {
  flex-basis: 100px;
  /* justify-self: flex-end; */

  margin-left: auto;
  text-align: center;
}

#nothing {
  flex: 1 1 auto;
}

#sect {
  border: solid 3px green;
  /* height: 200px; */
}

#footer {
  align-self: end;
  border: solid 3px red;
  height: 50px;
  text-align: center;
  padding-top: 30px;
}

.SentenceFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.SentenceFlex textarea {
  background-color: transparent;
  border: 0;
  resize: none;
  text-align: center;
}

.SentenceFlex input {
  background-color: transparent;
  border: 0;
}
