/*id 선택자*/
#main_menu{
    border-bottom:solid 2px black;
}
#user_tool_list{
    text-align: right;
}
#body_wrapper{
    width: 900px;
    margin: 0 auto;
    padding: 20px 50px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    text-align: center;
}
#u_cbox_write{
    width: 100%;
}
#u_cbox_wrapper{
    width: 60%;
    margin:30px auto;
}
#u_cbox_title{
    margin: 0;
    text-align: left;
}
#cbox_title{
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    border-top: solid 1px black;
}
#u_cbox_tool{
    text-align: right;
}
#u_cbox_destination{
    width: 60%;
    margin: 20px auto;
}
#cbox_destination{
    width: 60%;
    margin: 0px auto;
}
  

/*클래스 선택자*/
.title{
    font-size: 25px;
}
.sub_title{
    font-size: 15px;
}
.menu_list{
    text-align: center;
}

/*태그 선택자*/
header{
    text-align: center;
}
ul{
    padding-left: 0;
    list-style: none;
}
textarea{
    display: block;
    resize: none;
    width: 100%;
}

/*자식 선택자*/
header li{
    display: inline;
}
.menu_list li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
#cbox_destination li{
    margin: 20px 0px;
}