.InputSentenceBox{
    text-align: center;
    width: 40%;
    margin: 30px auto;
    overflow: visible;
}

.InputSentence{
    display: block;
    width: 100%;
    word-wrap: break-word;
    height: 50px;
    background-color: transparent;
    border: solid 2px lightblue;
    border-radius: 30px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 15px;
    resize: none;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.wordLimit {
    float: right;
    margin-top: 0.5px;
    margin-right: 10px;
    border-bottom: 2px solid orangered;
}

.InputTool {
    float: right;
    border: none;
    border-bottom: 2px solid orange;
    background-color: transparent;
    margin-top: 2px;
    margin-right: 20px;
}

.toggleCmt{
    float: left;
    border: none;
    border-bottom: 2px solid greenyellow;
    background-color: transparent;
    margin-left: 20px;
}

.InputTool:hover{
    border-bottom: 2px solid rgb(24, 109, 161);
}

.toggleCmt:hover{
    border-bottom: 2px solid green;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');