.VoteSentenceBox {
  width: 100%;
  margin: 10px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.recommBtn{
  border: 1px solid gray;
  background: none;
  margin:0 3px;
  padding:3 5px;
  transform: translate3d(0,0,0);
}

.recommBtn:hover{
  box-shadow: 1px 1px teal;
}

.voteToggleCmt{
  flex-shrink: 0;
  border: 1px solid gray;
  background: none;
  padding:3 5px;
  font-size: 4px;
}

.voteContent{
  flex-basis: 100%;
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 10px;
}

.voteDate{
  margin-left: 5px;
  font-size: 4px;
  color: gray;
}

.VoteTool{
  text-align: right;
  flex-grow: 1;
}
